services:
  - type: web
    name: chemo-rota-converter
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 5000
    healthCheckPath: /
    autoDeploy: true
